@media (max-width: 768px) {
  .search-wrapper {
    display: none;
  }

  header ul {
    display: none;
  }

  .nav-btn {
    display: none;
  }

  .three-line {
    display: flex;
  }
  footer .top {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 40px;
  }
  .footer-sec-a {
    width: 100%;
  }

  /* main section */

  .products-sec-main {
    display: flex;
    flex-direction: column;
  }
  .product-card {
    width: 100%;
  }
}
